.transfer-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 15px;
}

label {
    padding: 5px 0;
}

h4 {
    text-decoration: underline;
}